<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jolly Up Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/dashboardStyle.css" rel="stylesheet" type="text/css">
  <link rel ="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/highcharts/highcharts.js"></script>
  <script src="bower_components/highcharts/highcharts-more.js"></script>
  <script src="bower_components/highcharts/modules/solid-gauge.js"></script>
  <script>
    $(function () {

      function getGaugeOptions(data, dataText){
        var gaugeOptions = {

            'chart': {
                'type': 'solidgauge',
                backgroundColor: null
            },
            title: {
              //text: '<%= moves.steps %>',
              text: dataText,
              verticalAlign: 'middle',
              style: {'color': 'white'}
            },
            'tooltip': {
                'enabled': false
            },
            credits:{
              'enabled': false
            },
            'pane': {
              'center': ['50%', '50%'],
              'size': '100px',
              'startAngle': 0,
              'endAngle': 360,
              'background': {
                'backgroundColor': null,
                'innerRadius': '90%',
                'outerRadius': '100%',
                'borderWidth': 0
              }
            },

            'yAxis': {
              'min': 0,
              'max': 100,
              'labels': {
                'enabled': false
              },
        
              'lineWidth': 0,
              'minorTickInterval': null,
              'tickPixelInterval': 400,
              'tickWidth': 0
            },

            'plotOptions': {
                'solidgauge': {
                    'innerRadius': '90%'
                }
            },
            
            'series': [{
                'name': 'Speed',
                //'data': [<%= moves.percentOfGoal %>],
                'data': [data],
                'dataLabels': {
                    'enabled': false
                }
            }]
        };
        return gaugeOptions;
      }
      
      var gaugeOptionsSleeps = getGaugeOptions(<%= sleeps.percentOfGoal %>, '<%= sleeps.title %>')
      var gaugeOptionsMoves = getGaugeOptions(<%= moves.percentOfGoal %>, '<%= moves.steps %>');
      var gaugeOptionsWorkouts = getGaugeOptions(<%= workouts.percentOfGoal %>, '<%= workouts.distance %>');

      $('#my-chart-sleep').highcharts(gaugeOptionsSleeps);
      $('#my-chart-move').highcharts(gaugeOptionsMoves);
      $('#my-chart-workout').highcharts(gaugeOptionsWorkouts);
      
    });
  </script>
</head>
<body>
	<nav class="navbar navbar-trans">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="#">Jawbone Data Website</a>
    		</div>
    		<div>
      			<ul class="nav navbar-nav">
        			<li class="active"><a href="/dashboard?user=<%= userID %>">Dashboard</a></li>
              <li><a href="/levels?user=<%= userID %>">Levels</a></li>
              <li><a href="/achievements?user=<%= userID %>">Achievements</a></li>
              <li><a href="/teamPage?user=<%= userID %>">Team</a></li>
              <li><a href="/weeklyChallenges?user=<%= userID %>">Weekly Challenges</a></li>
      			</ul>
    		</div>
  		</div>
	</nav>
  <div class="row addBorder">
    <div class = "col-md-4 text-center"> 
      <a href="/dashboardPrevious?user=<%= userID %>?day=<%= otherData.date%>?data=<%= otherData%>?workouts=<%= workouts%>" class = "btn btn-primary"> Previous Day </a>
    </div>
    <div class="col-md-4">
      <div class = "text-center"> <h1>Dashboard Data for <%= otherData.date %></h1> </div>
    </div>
    <div class="col-md-4 text-center">
      <div class = "btn btn-primary"> Next Day </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="text-center"><h3>Sleep Info</h3></div>
      </div>
      <div class="col-md-4">
        <div class="text-center"> <h3>Moves Info</h3></div>
      </div>
      <div class="col-md-4">
        <div class="text-center"> <h3>Workout Info</h3></div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4 parent" >
          <div class ="circleAndTextMoves parent"> 
              <div class="sideText child" style:"float:left">Slept for
                <span>  
                  <div id="my-chart-sleep" style="width: 125px; height: 150px; float: right"> 
                  </div>
                </span>
              </div>
          </div>
          <div class="sleeps img-rounded">
            
            <div class="text-center">Times Awakened: <%= sleeps.awakenings %></div>
            <div class="text-center">Fell asleep at: <%= sleeps.asleep_time %></div>
            <div class="text-center">Woke up at: <%= sleeps.awake_time %></div>
            <div class="text-center">Light Sleep: <%= sleeps.lightSleep %> </div>
          </div>
        </div>
        <div class="col-md-4 parent">
          <div class ="circleAndTextMoves parent"> 
              <div class="sideText child" style:"float:left">Today's Steps
                <span>  
                  <div id="my-chart-move" style="width: 125px; height: 150px; float: right"> 
                  </div>
                </span>
              </div>
          </div>
          <div class="moves img-rounded">
            <div>Active Time: <%= moves.active_time %></div>
            <div>Distance: <%= moves.distance %> miles</div>
            <div>Active Calories Burned: <%= moves.calories %></div>
          </div>
        </div>
        <div class="col-md-4 parent">
          <div class ="circleAndTextMoves parent"> 
              <div class="sideText child" style:"float:left">Miles
                <span>  
                  <div id="my-chart-workout" style="width: 125px; height: 150px; float: right"> 
                  </div>
                </span>
              </div>
          </div>
          <div class="workouts img-rounded">
            <div>Most Recent Workout Completed On: <%= workouts.date %></div>
            <div>Workout Type: <%= workouts.title %></div>
            <div>Number of Steps: <%= workouts.steps%></div>
            <div>Workout Time: <%= workouts.time%></div>
            
            <div>Calories Burned: <%= workouts.calories%></div>
            <div>Intensity Levels: <%= workouts.intensity%></div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6 parent">
        <div class="text-center"> <h3>Averages</h3></div>
          <div class="averages img-rounded">
            <div>Average Steps: <%= otherData.stepsAverage %></div>
            <div> Average Sleep Time: <%= otherData.sleepsAverage %></div>
            <div> Average Workout Steps: <%= otherData.workoutsStepsAverage %></div>
            <div> Average Workout Calories Burned: <%= otherData.workoutsCaloriesAverage %></div>
            <div> Average Workout Time: <%= otherData.workoutsTimeAverage %></div>
            <div> Average Workout Distance: <%= otherData.workoutsDistanceAverage %> Miles</div>
          </div>
      </div>
      <div class="col-md-6 parent">
        <div class="text-center"> <h3>Totals</h3></div>
        <div class="totals img-rounded">
          <div>Total Steps: <%= otherData.stepsTotal %></div>
          <div> Total Sleep Time: <%= otherData.sleepsTotal %></div>
          <div> Total Workout Steps: <%= otherData.workoutsStepsTotal %></div>
          <div> Total Workout Calories Burned: <%= otherData.workoutsCaloriesTotal %></div>
          <div> Total Workout Time: <%= otherData.workoutsTimeTotal %></div>
          <div> Total Workout Distance: <%= otherData.workoutsDistanceTotal %> Miles</div>
        </div>
      </div>
    </div>
    </div>
</body>
