<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jolly Up Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/dashboardStyle.css" rel="stylesheet" type="text/css">
  <link rel ="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-trans">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="#">Jawbone Data Website</a>
    		</div>
    		<div>
      			<ul class="nav navbar-nav">
        			<li class="active"><a href="/dashboard">Dashboard</a></li>
              <li><a href="/levels">Levels</a></li>
              <li><a href="/achievements">Achievements</a></li>
              <li><a href="/teamPage">Team</a></li>
              <li><a href="/weeklyChallenges">Weekly Challenges</a></li>
      			</ul>
    		</div>
  		</div>
	</nav>
	<div class = "text-center"> <h1>Dashboard</h1> </div>
  <div class = "text-center"> <h3>Data for <%= otherData.date %> </h3></div>

  <div class="container">
    <div class="row">
        <div class="col-md-4 sleeps img-rounded">
          <div class= "circleBase"><span>Slept <%= sleeps.title %></span></div>
          <div>Times Awakened: <%= sleeps.awakenings %></div>
          <div>Light Sleep <%= sleeps.lightSleep %> </div>
          <div>Fell asleep at: <%= sleeps.asleep_time %></div>
          <div>Woke up at: <%= sleeps.awake_time %></div>
        </div>
        <div class="col-md-4 moves img-rounded">
          <div>Todays Steps: <%= moves.steps %></div>
          <div>Active Time: <%= moves.active_time %></div>
          <div>Distance: <%= moves.distance %> miles</div>
          <div>Active Calories Burned: <%= moves.calories %></div>
        </div>
        <div class="col-md-3 workouts img-rounded">
          <div>Most Recent Workout Completed On: <%= workouts.date %></div>
          <div>Workout Type: <%= workouts.title %></div>
          <div>Number of Steps: <%= workouts.steps%></div>
          <div>Workout Time: <%= workouts.time%></div>
          <div>Distance Moves: <%= workouts.distance%> miles</div>
          <div>Calories Burned: <%= workouts.calories%></div>
          <div>Intensity Levels: <%= workouts.intensity%></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 averages img-rounded">
          <div>Average Steps: <%= otherData.stepsAverage %></div>
          <div> Average Sleep Time: <%= otherData.sleepsAverage %></div>
          <div> Average Workout Steps: <%= otherData.workoutsStepsAverage %></div>
          <div> Average Workout Calories Burned: <%= otherData.workoutsCaloriesAverage %></div>
          <div> Average Workout Time: <%= otherData.workoutsTimeAverage %></div>
          <div> Average Workout Distance: <%= otherData.workoutsDistanceAverage %> Miles</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 totals img-rounded">
          <div>Total Steps: <%= otherData.stepsTotal %></div>
          <div> Total Sleep Time: <%= otherData.sleepsTotal %></div>
          <div> Total Workout Steps: <%= otherData.workoutsStepsTotal %></div>
          <div> Total Workout Calories Burned: <%= otherData.workoutsCaloriesTotal %></div>
          <div> Total Workout Time: <%= otherData.workoutsTimeTotal %></div>
          <div> Total Workout Distance: <%= otherData.workoutsDistanceTotal %> Miles</div>
        </div>
    </div>
  </div>
</body>
