<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jolly Up Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/dashboardStyle.css" rel="stylesheet" type="text/css">
  <link rel ="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <script type='text/javascript'>
    $(document).ready(function(){
      	$("ul.connectedSortable").sortable({
        	connectWith: '.connectedSortable',
            placeholder: 'ui-state-highlight',
            forcePlaceholderSize: true
        }).disableSelection();

    	$('.box1, .box9, .box2,.box10, .box4, .box6, .box12, .box8').append('<div style="height:200px;"></div>');

    	$('.box3, .box5, .box11, .box7').append('<div style="height:200px;"></div>');
      
    });
  </script>
</head>
<body>
	<nav class="navbar navbar-default">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="#">Jawbone Data Website</a>
    		</div>
    		<div>
      			<ul class="nav navbar-nav">
        			<li class="active"><a href="/dashboard">Dashboard</a></li>
              <li><a href="/levels">Levels</a></li>
              <li><a href="/achievements">Achievements</a></li>
              <li><a href="/teamPage">Team</a></li>
              <li><a href="/weeklyChallenges">Weekly Challenges</a></li>
      			</ul>
    		</div>
  		</div>
	</nav>
	<div class = "text-center"> <h3>Dashboard</h3> </div>
  <div class = "text-center"> <h4>Data for <%= otherData.date %> </h4></div>

  <div class ="col-md-1"></div>
		<div class="boxContainer">
			<ul id="column1" class="connectedSortable" >
        		<li class="box1"><div> Slept <%= sleeps.title %></div></li>
        		<li class="box2"> <div>Time Created <%= sleeps.time_created %></div></li>
        		<li class="box3"><div>Time Completed <%= sleeps.time_completed %></div></li>
    		</ul>
    		<ul id="column2" class="connectedSortable" >
		        <li class="box4"><div>Steps <%= moves.steps %></div></li>
		        <li class="box5"></li>
		        <li class="box6"></li>
		    </ul>
		    <ul id="column3" class="connectedSortable" >
		        <li class="box7"><div>Workout Type <%= workouts.title %></div></li>
		        <li class="box8"></li>
		        <li class="box9"></li>
		    </ul>
		    <ul id="column4" class="connectedSortable" >
		        <li class="box10"></li>
		        <li class="box11"></li>
		        <li class="box12"></li>
		    </ul>
		</div>

</body>
