<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jolly Up Website</title>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/friend.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/highcharts/highcharts.js"></script>
</head>

<body>
    <nav class="navbar navbar-trans">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Jawbone Data Website</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/dashboard?user=<%= userID %>">Dashboard</a></li>
                    <li><a href="/levels?user=<%= userID %>">Levels</a></li>
                    <li><a href="/achievements?user=<%= userID %>">Achievements</a></li>
                    <li class="active"><a href="/teamPage?user=<%= userID %>">Team</a></li>
                    <li><a href="/weeklyChallenges?user=<%= userID %>">Weekly Challeneges</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row addBorder">
        <div class="col-md-4">
            <div class="text-center"> <h1><%= friend.first %> <%= friend.last %> </h1> </div>
        </div>
    </div>

</body>
