<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jolly Up Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/teamPage.css" rel="stylesheet" type="text/css">
  <link rel ="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-trans">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Jawbone Data Website</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
              <li><a href="/dashboard?user=<%= userID %>">Dashboard</a></li>
              <li><a href="/levels?user=<% userID %>">Levels</a></li>
              <li><a href="/achievements?user=<%= userID %>">Achievements</a></li>
              <li class="active"><a href="/teamPage?user=<%= userID %>">Team</a></li>
              <li><a href="/weeklyChallenges?user=<%= userID %>">Weekly Challenges</a></li>
            </ul>
        </div>
      </div>
    </nav>

    <div class="titleTeam"> <h2> Team Page </h2>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Friend</th>
                <th>Stats</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i = 0; i < friends.length; i++) { %>
            <tr>
                <td><a href="/friend?user=<%= userID %>&friend=<%= friends[i].userID %>"><%= friends[i].first %> <%=friends[i].last %></td>
                <td></td>
            </tr>

            <% } %>

        </tbody>
    </table>

</body>
