<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jolly Up Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/levels.css" rel="stylesheet" type="text/css">
  <link rel ="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../bower_components/highcharts/highcharts.js"></script>
  <script>
    $(function () { 
      $('#container').highcharts({
          colors: ['red','green'],
          chart: {
              type: 'bar',
              backgroundColor: null
          },
          title: {
              text: '',
              style:{
                display:'none'
              }
          },
          xAxis: {
             visible:false
          },
          yAxis: {
             visible:false
          },
          series: [{
              data: [100 - <%= goal1.percentComplete%>]
          },
          {
            data: [<%= goal1.percentComplete%>]
          }],
          credits:{
            enabled:false
          },
          legend:{
            enabled:false
          },
          plotOptions: {
              series: {
                  stacking: 'percent',
                  enableMouseTracking: false
              }
          }
      });
      $('#container2').highcharts({
          colors: ['red','green'],
          chart: {
              type: 'bar',
              backgroundColor: null
          },
          title: {
              text: '',
              style:{
                display:'none'
              }
          },
          xAxis: {
             visible:false
          },
          yAxis: {
             visible:false
          },
          series: [{
              data: [100 - <%= goal2.percentComplete%>]
          },
          {
            data: [<%= goal2.percentComplete%>]
          }],
          credits:{
            enabled:false
          },
          legend:{
            enabled:false
          },
          plotOptions: {
              series: {
                  stacking: 'percent',
                  enableMouseTracking: false
              }
          }
      });
      $('#container3').highcharts({
          colors: ['red','green'],
          chart: {
              type: 'bar',
              backgroundColor: null
          },
          title: {
              text: '',
              style:{
                display:'none'
              }
          },
          xAxis: {
             visible:false
          },
          yAxis: {
             visible:false
          },
          series: [{
              data: [100 - <%= goal3.percentComplete%>]
          },
          {
            data: [<%= goal3.percentComplete%>]
          }],
          credits:{
            enabled:false
          },
          legend:{
            enabled:false
          },
          plotOptions: {
              series: {
                  stacking: 'percent',
                  enableMouseTracking: false
              }
          }
      });
  });
  </script>
</head>
<body>
  <nav class="navbar navbar-trans">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Jawbone Data Website</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
              <li><a href="/dashboard?user=<%= userID %>">Dashboard</a></li>
              <li class="active"><a href="/levels?user=<%= userID %>">Levels</a></li>
              <li><a href="/achievements?user=<%= userID %>">Achievements</a></li>
              <li><a href="/teamPage?user=<%= userID %>">Team</a></li>
              <li><a href="/weeklyChallenges?user=<%= userID %>">Weekly Challenges</a></li>
            </ul>
        </div>
      </div>
  </nav>
    <div class="row">
      <div class="col-md-6">
        <div class="text-center"><h3>Past Level: <%= levelNum %></h3></div>
      </div>
      <div class="col-md-6">
        <div class="text-center"><h3>This level has been completed!</h3></div>
      </div>
    </div>
    <div class="row">
      <div class = "col-md-6">
        <div class="text-center"> <h4> Goals for this level: </h4></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="text-center"><%= goal1.name %></div>
      </div>
      <div class="col-md-4">
        <div class="text-center"> <%= goal1.percentComplete %> %</div>
        <div id="container" style="width:50%; height:100px"></div>
      </div>
      <div class="col-md-4">
        <div class="text-center"><%= goal1.leftToGo %></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="text-center"><%= goal2.name %></div>
      </div>
      <div class="col-md-4">
        <div class="text-center"><%= goal2.percentComplete %> %</div>
        <div id="container2" style="width:50%; height:100px"></div>
      </div>
      <div class="col-md-4">
        <div class="text-center"><%= goal2.leftToGo %></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="text-center"><%= goal3.name %></div>
      </div>
      <div class="col-md-4">
        <div class="text-center"><%= goal3.percentComplete %> %</div>
        <div id="container3" style="width:50%; height:100px"></div>
      </div>
      <div class="col-md-4">
        <div class="text-center"><%= goal3.leftToGo %></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class = "col-md-2">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">View Completed Level
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <% for(var i=1; i<currentLevelNum; i++) {
              if (i != levelNum){%>
               <li><a href="/viewOldLevel/<%= i %>?user=<%= userID %>"><%= i %></a></li>
            <% }} %> 
          </ul>
        </div>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-4">
        <a href="/levels?user=<%= userID %>" class="btn btn-primary">Back to Current Level</a>
      </div>
    </div>
  </div>
</body>
